$background: #171717;
$dim: #afafaf;
$dimmer: #5a5a5a;
$accent: #ffb971;


QMainWindow
{
    background-color: $background;
}


.directory-label
{
    margin-left: 3px;
    color: $dimmer;
}


.auto-detected
{
    color: $accent;
}


.submit-button
{
    background-color: $accent;
    border-radius: 5px;
    padding: 5px 15px;
    color: black;
    margin-top: 7px;
    //max-width: 60px;
}
