$background: #171717;
$dim: #9b9b9b;
$dimmer: #5a5a5a;


QMainWindow
{
    background-color: $background;
}


.directory-path
{
    margin-bottom: 15px;
    color: $dimmer;
}


.auto-detect
{
    color: $dim;
}
